.wallet {
  border: 1px solid black;
  display: flex;
}

p {
  padding-right: 10px;
}

form {
  border: 1px solid black;
  display: flex;
  margin-top: 10px;
  padding: 5px;
}

form label , form input {
  margin-left: 10px;
}
